body {
    margin: 0;
    padding: 20px;

    background: linear-gradient(120deg,rgb(125, 10, 125),rgb(182, 16, 176), rgb(224, 105, 203),rgb(218, 53, 144),rgb(229, 105, 159),rgb(237, 142, 237),rgb(248, 154, 237),rgb(251, 152, 169));
    background-size: 400% 400%;

    animation: gd 10s ease infinite;
}

@keyframes gd {
    0%, 100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100%;
    }
}

.container {
    box-shadow: 0px 8px 32px black;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td, th {
    padding: 20px;
}

td::before {
    content: '🔖 ';
}

th::before {
    content: '💠' ;
}

tr:nth-child(odd) {
    background-color: rgb(60, 152, 222);
}

th {
    background-color: blue;
}

td:hover {
    font-style: italic;
}

td:hover {
    transition: transform 2s ease;
    transform: rotateX(360deg);
    transform: rotateY(360deg);
    transform: rotateZ(360deg);
    transform: translate(10px);
    transform: scale(0.5);
    transform: skew(10deg);
    transform: perspective(50px) rotateY(360deg);
}
